 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
 .browse-catalog1{
 	 height: calc(100vh - 70px);  
 	 overflow-y: auto;
 	 background-color: #f8f9fa;
 }
.browse-top1{
	 
	 background-color: white;
	border-radius: 5px;
	padding:10px;
	-webkit-box-shadow: 0 0 5px 5px #e5e5e5;
}
.content{
	 background-color: white;
	border-radius: 5px;
	padding:10px;
	-webkit-box-shadow: 0 0 5px 3px #e5e5e5;
}
.content1{
	max-height: 250px;
	overflow-y: auto;
}
.content1 label{
	font-weight: bold;
}
.content1 input{
	padding: 5px;
	border-radius: 5px;
}
.content1 h2{
	color: #023e8a;
font-family: serif;
text-align: center;
font-weight: bold;
}
.content1 p{
	color: red;
	font-weight: bold;
	font-size:12px;
}
.content2{
	max-height: 550px;
	overflow-y: auto;
}
.content2 h2{
	font-family: "poppins", system-ui;
	font-weight: bold;
	color:#14213d;
}
.content2 img{
height: 180px;
object-fit: cover;
border-radius: 10px;
margin-left: 10px;
 width: 100%;
 -webkit-box-shadow: 0 0 5px 2px #e5e5e5;
}
}
.content2-side{
	max-height: 100px;
}
.iconp p{
	color: #fff;
	padding-bottom: 5px;
	font-family: math;
text-align: center;
font-size: 25px;
font-weight: bold;
}

.iconp{
background-color:  #023e8a;
border-radius: 10px;
-webkit-box-shadow: 0 0 5px 2px #e5e5e5;
}
.content2-side label{
	font-family: serif;
font-weight: bold;
font-size: 20px;
}
.content2-side1 td{
font-family: "poppins", sans-serif; 
font-size: 20px;
}
.content2-side1 p{
	margin-left: 10px;
	font-family: serif;
 
font-size: 20px;

}
.content2-end{
	border-bottom: 1px solid #e5e5e5;
}
.content3{
	max-height: 500px;
	overflow-y: auto;
}
.content3 h2{
		color: #023e8a;
font-family: serif;
text-align: center;
font-weight: bold;
}
.content3 .bi-star-fill{
	color: #ffd700;
}
.media .pd{
	font-family: serif;
	font-weight: bold;
}
  .sortr label{
	font-family: serif;
	font-weight: bold;
	background-color: #caf0f8;
	padding:2px;
	color:#0077b6;
	border-radius: 5px;
}

.browse-top1 h2{
	font-family: serif;
	margin-left:10px;
	text-align:center;
}
.browse-top1 .bi-star  {
	color:#ffd700;
}
.browse-top1 .bi-star-fill{
	color:#ffd700;
}
.browse-top1 p{
	align-items: baseline;
	font-weight: bold;
	margin-left:10px;
	font-size:20px;
}
.browse-top1 img{
height: 60px;
width:60px;
object-fit: cover;
border-radius: 5px;
-webkit-box-shadow: 0 0 5px #e5e5e5;
}
.global-flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}
.global-flex-col{
	display: flex;
	flex-direction: column;
}
.browse-product1{
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	margin-left: 20px;
	float: right;
	margin-right: auto;
-webkit-box-shadow: 0 0 5px #6c757d;
}
.browse-product1 h5{
	font-family: serif;
	font-weight: bold;


}
.browse-product1 h4{
	font-family: droid serif;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
.browse-product1 i{
	  height: 20px;
	  width:20px;
 padding: 5px;
 text-align: center;
	margin-left: 5px;
	border-radius: 10px;
	background-color: lightgreen;
}
.browse-product1 .bi-cart{
	color:green;
	font-size:30px;
	font-weight: bold;
}

.popuprp{
	background:rgba(0, 0, 0, 0.6);
width:100%;
height:100%;
position: fixed;
top:0;
left:0;
display: none;
justify-content: center;
align-items: center;
}
.popuprp-content{
	height:400px;
	width:350px;
	background:#fff;
	padding:20px;
border-radius: 5px;
position: relative;
overflow-y: auto;
}
.popuprp-content h1{
	font-family: serif;
font-size: 25px;
}
.popuprp-content textarea{
	width:100%;
	max-height: 100px;
}
.popuprp-content textarea.active{
	border-color: #48cae4;
}

.popuprp-content button{
	float: right;
}
.popuprp-content .closerp{
	position: absolute;
	top:0px;
	right: 0px;
	background:#fff;
	height: 30px;
	width:30px;
	border-radius: 50%;
	box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
cursor: pointer;
}
